{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutorials</title>
    <link rel="stylesheet" href="{% static 'Style/tutorials.css' %}">
</head>
<body>
    <div class="header">
        <table style="width: 90%;margin-left: 5%">
            <td style="width: 40%;">
                <h1>
                    <a style="
                    text-decoration-line: none;
                    color: white;
                    border-radius: 10px;
                    border-color: white;
                    padding: 10px;
                    margin-block: 20px;
                    " href="{% url 'editor' %}" >Xml Translator</a>
                </h1>
            </td>
            <td style="width: 20%; text-align: center;">
                <h2 class="header_links">
                    <a style="
                    text-decoration-line: none;
                    color: white;
                    " href="{% url 'execute' %}" >Execute</a>
                </h2>
            </td>
            <td style="width: 20%; text-align : center;">
                <h2 class="header_links">
                    <a style="
                    text-decoration-line: none;
                    color: white;
                    " href="{% url 'tutorial' %}" >Tutorials</a>
                </h2>
            </td>
            <td style="width: 20%; text-align : center;">
                <h2 class="header_links">
                    <a style="
                    text-decoration-line: none;
                    color: white;
                    " href="{% url 'contact_us' %}" >Contact Us</a>
                </h2>
            </td>

        </table>

    </div>
    <section>
        <div class="title_holder">

            <h1>Setuping XML File :</h1>
        </div>
        <div class="row">
            <div class="image_holder">
                <img src="{% static 'public/empty input.png' %}" alt="output">
            </div>
            <div class="description_holder">
                <br>
                <h1>Setuping XML File</h1>
                <br>
                <h2>
                    This is the first step in it you just
                    write your own Xml file, or you can simply
                    upload an already existing one to the web site.
                </h2>
            </div>
        </div>
        <br>
        <br>
    </section>

    <section>
        <div class="title_holder">

            <h1>Choosing the right algorithm :</h1>
        </div>

        <div class="row">
            <div class="description_holder">

                <br>
                <h2>
                    This is the first step in it you just
                    write your own Xml file, or you can simply
                    upload an already existing one to the web site.
                </h2>
            </div>
            <div class="image_holder">
                <img src="{% static 'public/selection of algorithm.png' %}" alt="output">
            </div>
        </div>
        <br>
        <br>
    </section>

    <section>
        <div class="title_holder">

            <h1>Transforming the xml and downloading the file :</h1>
        </div>

        <div class="row">
            <div class="image_holder">
                <img src="{% static 'public/output.png' %}" alt="output">
            </div>
            <div class="description_holder">
                <br>
                <h1>Setuping XML File</h1>
                <br>
                <h2>
                    This is the first step in it you just
                    write your own Xml file, or you can simply
                    upload an already existing one to the web site.
                </h2>
            </div>
        </div>
        <br>
        <br>
    </section>

</body>
</html>