*{
    margin: 0;
    box-sizing: border-box;
}
/* Styling the scrollbars */
::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light gray background */
    border-radius: 10px; /* Rounded track */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #262650; /* Darker thumb color */
    border-radius: 10px; /* Rounded thumb */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker thumb when hovered */
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a3d;
    color: white;
    overflow-x: hidden;
}
.header {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #2e2e5f;
    height: 70px;
}
.header .title {
    flex: 1;
}
.header button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4e4e8f;
    border: none;
    color: white;
    cursor: pointer;
}
.header button:hover {
    background-color: #6e6ebf;
}
.header_links{
    text-decoration-line: none;
    font-size: larger;
    color: white;
}
.header_links:hover{
    transform: scale(1.1);
    transition: ease;
}
a, h1, h2 {
    font-family: "Microsoft JhengHei UI Light";
}
.title_holder{
    width: 100%;
    text-align: center;
    padding-block: 2%;
    position: sticky;
    top: 0;
    padding-inline: 2%;

}
.upload_controlls_holder{
    width: 70%;
    height: 120px;
    margin-left: 15%;
    background-color: #2e2e5f;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.upload_controlls{
    width: 20%;
    height: 40px;
    background-color: #6e6ebf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
    margin: 2.5%;
    border-radius: 10px;
    font-family: "Microsoft JhengHei UI Light";
    color: whitesmoke;
    border-style: solid;
    border-color: #4e4e8f;


}
form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
input::placeholder {
  color: blue;
}
.train_section_holder{
    margin: 15%;
    width: 100%;
    background-color: #555555;
}